{% extends "academy/layout.html" %}
{% load humanize %}
{% load static %}

{% block title %}{{ topic.title }} - {{ topic.category.name }}{% endblock %}

{% block content %}
<div class="container">
  <div class="main-body">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'forum_category_list' %}">Forum</a></li>
        <li class="breadcrumb-item"><a href="{% url 'forum_topic_list' category_id=topic.category.id %}">{{ topic.category.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ topic.title }}</li>
      </ol>
    </nav>
    <!-- /Breadcrumb -->

    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h3 class="mb-4">{{ topic.title }}</h3>
          <p>{{ topic.description }}</p>
          <div class="d-flex flex-row topic-bottom">
            <div class="topic-profile-pic me-3">
              {% if topic_profile_pic %}
                <img class="profile-pic-forum" src="{{ topic_profile_pic.url }}" alt="Profile Picture"/> 
              {% else %}
                <div class="text-center align-center no-profile-pic-forum">
                  <p style="padding-top: 2%" >{{ topic.user.username.0|capfirst }}</p>
              </div>
              {% endif %}
            </div>
            <div>
              <p class="reply-timestamp"><small>Created by {{ topic.user.username }} • {{ topic.created_at|naturaltime }}</small></p>
              <div class="like-div">
                {% if user.is_authenticated%}
                  <button class="btn btn-link like-btn{% if serialized_topic.is_liked %} liked{% endif %}" data-topic-id="{{ topic.id }}">
                    <span id="topic-likes-{{ topic.id }}" class="likes-count">{{ topic.likes }}</span>
                    <i class="{% if topic.is_liked %}fas{% else %}far{% endif %} fa-heart heart-icon"></i>
                  </button>
                  <span class="topic-views">{{ topic.views }} <i class="far fa-eye"></i></span>
                {% else %}
                  <p>
                    <span id="topic-likes-{{ topic.id }}" class="likes-count">{{ topic.likes }}</span>http://127.0.0.1:8000/#
                    <i class="far fa-heart heart-icon me-1"></i>
                    <span class="topic-views">{{ topic.views }} <i class="far fa-eye"></i></span>
                  </p>
                {% endif %}
              </div>

            </div>
          </div>
          <hr>
          <div class="mb-4">
            <h4>{{ topic.posts.count }} Replies</h4>
            {% for post, profile_pic in posts %}
              <div class="card mb-3 reply-card">
                <div class="card-body d-flex flex-row">
                    <div class="user-profile-pic me-3">
                      {% if profile_pic %}
                        <img class="profile-pic-forum" src="{{ profile_pic.url }}" alt="Profile Picture"/> 
                      {% else %}
                        <div class="text-center align-center no-profile-pic-forum">
                          <p style="padding-top: 2%" >{{ post.user.username.0|capfirst }}</p>
                      </div>
                      {% endif %}
                    </div>
                  <div class="d-flex flex-column">
                    <p class="reply-timestamp"><small>Posted by  {{ post.user.username }} • {{ post.created_at|naturaltime }}</small></p>
                    <p>{{ post.content }}</p>
                  </div>
                </div>
            </div>
            {% empty %}
            <p>No posts available.</p>
            {% endfor %}
          </div>

          {% if user.is_authenticated %}
          <!-- Reply form for authenticated users -->
          <h4>Reply</h4>
          <form method="POST">
            {% csrf_token %}
            <div class="reply-form">
              {{ form.as_p }}
              <button type="submit" class="btn button">Post Reply</button>
            </div>
          </form>
          {% else %}
          <!-- Message for unauthenticated users -->
          <div class="alert login-alert" role="alert">
            <a class="alert-link" href="{% url 'login' %}?next={% url 'forum_topic_detail' topic.id %}"> Sign in</a> first to write a reply.
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'academy/topic_detail.js' %}"></script>
{% endblock %}
