{% extends "network/layout.html" %}

{% block body %}

<h3>All Posts</h3>

<!-- New Post Form -->
{% if user.is_authenticated %}
<div class="container mb-4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">New Post</h4>
      <form action="{% url 'create_post' %}" id="new-post-form" method="post">
        {% csrf_token %}
        <div class="form-group">
          <textarea name="content" class="form-control" id="new-post-input" rows="3" placeholder="What's on your mind?"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
    </div>
  </div>
</div>
{% endif %}

<!-- Posts -->
<div class="container">
  {% for post in serialized_posts %}
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-text"><a href="{% url 'profile' post.author %}">{{ post.author }}</a></h5>
      <p id="post-content-{{ post.id }}" class="card-text">{{ post.content }}</p>

      <!-- Edit button -->
      {% if user.is_authenticated and request.user.username == post.author %}
        <button class="btn btn-secondary edit-post-btn btn-sm" data-post-id="{{ post.id }}">Edit</button>
      {% endif %}


      <p class="card-text"><small class="text-muted">{{ post.timestamp }}</small></p>
          <!-- Like button shaped as a heart icon-->
      <div>
        <button class="btn btn-link like-btn{% if post.is_liked %} liked{% endif %}" data-post-id="{{ post.id }}">
          <i class="fa {% if post.is_liked %}fa-heart{% else %}fa-heart-o{% endif %} heart-icon"></i>
          <span id="post-likes-{{ post.id }}" class="likes-count">{{ post.likes }}</span>
        </button>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="alert alert-primary" role="alert">
    No posts yet.
  </div>
  {% endfor %}
</div>

<!-- Edit Post Form -->
<form id="edit-post-form" style="display: none;">
  <textarea id="edit-post-content"></textarea>
  <button type="submit">Save</button>
</form>


<!-- Pagination links -->
<div class="container d-flex justify-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
      {% endif %}
      
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}
      
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>






{% endblock %}
